@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a to do list assignment. Please click on ToDoTask in the top left to view your to do list.</p>
    <p>Register as a new user or log in with the buttons in the top right.</p>
</div>
